.girl {
  position: absolute;
  z-index: 10;
  width: 416px;
  height: 454px;
  background-image: url('/images/girl/girl_idle.png');
  background-repeat: no-repeat;
}
.girl[data-status="dead"] {
  width: 601px;
  height: 509px;
  background-image: url('/images/girl/girl_dead.png');
}
.girl[data-status="jump"] {
  background-image: url('/images/girl/girl_jump.png');
}
.girl[data-status="run"] {
  background-image: url('/images/girl/girl_run.png');
}
.girl[data-status="walk"] {
  background-image: url('/images/girl/girl_walk.png');
}