.boy {
    position: absolute;
    z-index: 10;
    width: 614px;
    height: 564px;
    background-image: url('/images/boy/boy_idle.png');
    background-repeat: no-repeat;
}
.boy[data-status="dead"] {
    background-image: url('/images/boy/boy_dead.png');
}
.boy[data-status="jump"] {
    background-image: url('/images/boy/boy_jump.png');
}
.boy[data-status="run"] {
    background-image: url('/images/boy/boy_run.png');
}
.boy[data-status="walk"] {
    background-image: url('/images/boy/boy_walk.png');
}