@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
}

a {display:inline-block;}
a:link { color: #231f20; text-decoration: none; }
a:hover{ color:#231f20; text-decoration: none; }
a:visited { color: #231f20; text-decoration: none;}
a:active { color: #231f20; text-decoration: none;}

* {margin:0; padding:0; box-sizing:border-box;}
body {line-height: 1; background: #fff; color: #000;}
ol,ul { list-style:none; }
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary { display: block;}
nav ul { list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none;}
ins { background-color: #ff9; color: #000; text-decoration: none;}
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold;}
del { text-decoration: line-through;}
abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help;}
table { border-collapse: collapse; border-spacing: 0;}
hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0;}
input, select { vertical-align: middle;}
caption { text-indent:-9999em; font-size:0; line-height:0;}
select,input,button,textarea,button{font-size:99%;}
table{font-size:inherit;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
.content legend {overflow:hidden;visibility:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
input, select { vertical-align: middle;}
button {margin:0; padding:0; font:inherit; line-height:normal; background:transparent; border:0;}
img {vertical-align:top;}
button {background:transparent; border:0; cursor:pointer; outline:0;}

@font-face {
  font-family:'NotoSanskr_Thin';
  src : url('./webfont/NotoSanskr_Thin.woff') format('woff'),
  url('./webfont/NotoSanskr_Thin.woff2') format('woff2'),
  url('./webfont/NotoSanskr_Thin.ttf') format('truetype'),
  url('./webfont/NotoSanskr_Thin.eot');
  font-style:normal;
  font-weight:100;
}

@font-face {
  font-family:'NotoSanskr_Light';
  src : url('./webfont/NotoSanskr_Light.woff') format('woff'),
  url('./webfont/NotoSanskr_Light.woff2') format('woff2'),
  url('./webfont/NotoSanskr_Light.ttf') format('truetype'),
  url('./webfont/NotoSanskr_Light.eot');
  font-style:normal;
  font-weight:200;
}

@font-face {
  font-family:'NotoSanskr_Demilight';
  src : url('./webfont/NotoSanskr_Demilight.woff') format('woff'),
  url('./webfont/NotoSanskr_Demilight.woff2') format('woff2'),
  url('./webfont/NotoSanskr_Demilight.ttf') format('truetype'),
  url('./webfont/NotoSanskr_Demilight.eot');
  font-style:normal;
  font-weight:300;
}

@font-face {
  font-family:'NotoSanskr_Regular';
  src : url('./webfont/NotoSanskr_Regular.woff') format('woff'),
  url('./webfont/NotoSanskr_Regular.woff2') format('woff2'),
  url('./webfont/NotoSanskr_Regular.ttf') format('truetype'),
  url('./webfont/NotoSanskr_Regular.eot');
  font-style:normal;
  font-weight:400;
}  

@font-face {
  font-family:'NotoSanskr_Medium';
  src : url('./webfont/NotoSanskr_Medium.woff') format('woff'),
  url('./webfont/NotoSanskr_Medium.woff2') format('woff2'),
  url('./webfont/NotoSanskr_Medium.ttf') format('truetype'),
  url('./webfont/NotoSanskr_Medium.eot');
  font-style:normal;
  font-weight:600;
}

@font-face {
  font-family:'NotoSanskr_Bold';
  src : url('./webfont/NotoSanskr_Bold.woff') format('woff'),
  url('./webfont/NotoSanskr_Bold.woff2') format('woff2'),
  url('./webfont/NotoSanskr_Bold.ttf') format('truetype'),
  url('./webfont/NotoSanskr_Bold.eot');
  font-style:normal;
  font-weight:700;
}

@font-face {
  font-family:'montserrat_Regular';
  src : url('./webfont/montserrat_regular.woff') format('woff'),
  url('./webfont/montserrat_regular.woff2') format('woff2'),
  url('./webfont/montserrat_regular.ttf') format('truetype'),
  url('./webfont/montserrat_regular.eot');
  font-style:normal;
  font-weight:400;
}
@font-face {
  font-family:'montserrat_Bold';
  src : url('./webfont/montserrat_bold.woff') format('woff'),
  url('./webfont/montserrat_bold.woff2') format('woff2'),
  url('./webfont/montserrat_bold.ttf') format('truetype'),
  url('./webfont/montserrat_bold.eot');
  font-style:normal;
  font-weight:700;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('./webfont/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
  url('./webfont/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
  url('./webfont/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
  url('./webfont/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
  url('./webfont/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}